body, .card-body{
    background-color: #181419;
    color: #FFFFFF;
}

h2{
    color: #f0971c;
    font-weight: bolder;
}

h3{
    color: #f0971c;
    font-weight: bolder;
}

h3.fw-normal{
    color: white !important;
}

b{
    background-color: #f0971c;
}

.academia img{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25); /* sombra suave */
    border-radius: 12px; /* cantos arredondados, opcional */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 75%;
}

.academia img:hover {
    transform: translateY(-5px); /* sobe levemente ao passar o mouse */
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3); /* sombra mais forte ao hover */
}

.container-ayrton {
    background-image: url(./../../static/media/Ayrton.png);
    background-repeat: space;
    background-position: center;
    padding: 0px 100px 200px 100px;
    position: relative;
    background-size: 100%;
    color: #1814195e;
}

.overlay-titulo {
    background-color: #1814195e; /* vermelho TED com transparência */
    padding: 1rem 2rem;
    color: white;
  }

.overlay-titulo h1 {
    font-size: 3rem;
}

.overlay-titulo h3 {
    font-weight: 400;
}

.overlay-titulo h1, .overlay-titulo h3 {
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
  }

.separador{
    margin-bottom: 10px;
}

.container.corpo{
    margin: 0px;
    display: inline;
}

.fluxograma{
    background-color: #f0971c;
}

.fluxograma h2{
    color: white;
}

.fluxograma p.lead{
    color: #cc3e18;
    background: white;
}

.fluxograma .imagem-fluxo{
    height: 450px;
}

.lead.topico{
    padding: 10px;
    font-size: 18px;
    color: white;
    margin: 0px;
}

.bg-orange{
    background-color: #cc3e18;
    width: 100%;
}

.bg-white{
    background-color: white;
}

.bg-white img{
    height: 100%;
    width: -webkit-fill-available;
    border-radius: 21px 21px 0 0;
}

.card-body.dispersao{
    align-items: center;
    height: 600px;
}

.dispersao img{
    /* width: 100%; */
    margin-top: 25px;
    background-color: white;
}

.card-body.dispersao img{
    height: 100%;
}

.img-container {
    position: relative;
    display: inline-block;
    cursor: zoom-in;
}
  
.img-container img {
    max-width: 100%;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.img-container p{
    margin: 0px;
}

.img-container.expanded {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.8);
    z-index: 9999;
    cursor: zoom-out;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    background-color: #181419;
    margin: 0px;
}

.img-container.expanded-final {
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.8);
    z-index: 9999;
    cursor: zoom-out;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    background-color: #181419;
    margin: 0px;
}

.descrevendo-clusters p{
    color: black !important;
}